body{
    background-color: #bcbbbd;
}
.img1{
    height: 10vh;
    width: 20vh;
    display: flex;
    float: left;
    align-items: center;
}
.content{
    max-width: 2000px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}
.leftside, .rightside{
    height: 76vh;
    width:700px;
}

.btn{
    height: 40px;
    width: 90px;
}